# Default ignored files
/.idea
/DeepLearningZeroToAll
/ReinforcementZeroToAll
/test
/keras/qualcomm_pair_space_check/dataset/
/keras/qualcomm_pair_space_check/resnet50v2/
settings.json
*.pyc
*.h5
/**/log/